{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block body %}
    <style>
        .example-wrapper {margin: 1em auto;max-width: 800px;width: 95%;font: 18px/1.5 sans-serif;}
        .example-wrapper code {background: #F5F5F5;padding: 2px 6px;}
        .text-center {text-align: center;}
        .btn {margin-top: 1em;border-radius: 50rem;font-size: 1.1rem;}
    </style>

    <div class="example-wrapper">
        <!-- Sección de visualización del perfil -->
        <h1 class="text-center">Perfil de {{ user.username }}
            {% if 'ROLE_PREMIUM' in user.roles %}
                ⭐
            {% endif %}
        </h1>

        <div>
            <!-- Mostrar información del perfil -->
            <p><strong>Nombre de usuario:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Fecha de nacimiento:</strong> {{ user.birthdate|date('Y-m-d') }}</p>
            <p><strong>Biografía:</strong> {{ user.bio }}</p>
            <p><strong>Género:</strong> {{ user.gender }}</p>

            {% if 'ROLE_PREMIUM' in user.roles %}
                <p><strong>Estado:</strong> Usuario Premium</p>
                <form method="post" action="{{ path('app_downgrade_from_premium') }}">
                    <button type="submit" class="button">Cancelar Premium</button>
                </form>
            {% else %}
                <form method="post" action="{{ path('app_upgrade_to_premium') }}">
                    <button type="submit" class="button">Actualizar a Premium</button>
                </form>
            {% endif %}
        </div>

        <!-- Botón Editar Perfil -->
        <h2>Editar Perfil</h2>
        {% if not show_form %}
            <a href="{{ path('app_edit_profile') }}" class="button">Editar Perfil</a>
        {% endif %}

        <!-- Formulario de edición y botón de cancelar -->

        {% if show_form %}
            <div class="mt-5">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                <a href="{{ path('app_profile') }}" class="button">Cancelar</a>
            </div>
        {% endif %}
    </div>

    <div class="text-center mt-4">
        <a href="{{ path('app_inicio') }}" class="button">Volver a la Página Principal</a>
    </div>
{% endblock %}
