{% extends 'base.html.twig' %}

{% block body %}
    <h1>Perfil de
        {{ user.name }}
        {% if 'ROLE_PREMIUM' in user.roles %}
            ⭐
        {% endif %}
    </h1>

    <div>
        <p><strong>Nombre de usuario:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Fecha de nacimiento:</strong> {{ user.birthdate|date('Y-m-d') }}</p>
        <p><strong>Biografía:</strong> {{ user.bio }}</p>
        <p><strong>Género:</strong> {{ user.gender }}</p>

        {% if user.isStudent %}
            <p>Rol: Estudiante</p>
        {% elseif user.isChef %}
            <p>Rol: Chef</p>
        {% endif %}

        {% if 'ROLE_PREMIUM' in user.roles %}
            <p><strong>Estado:</strong> Usuario Premium</p>
            <form method="post" action="{{ path('app_downgrade_from_premium') }}">
                <button type="submit" class="btn btn-danger">Cancelar Premium</button>
            </form>
        {% else %}
            <form method="post" action="{{ path('app_upgrade_to_premium') }}">
                <button type="submit" class="btn btn-primary">Actualizar a Premium</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
