<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">

        <!-- Logo -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <!-- Envolver la imagen del logo con un enlace -->
                <a href="{{ path('app_inicio') }}">
                    <img src="{{ asset('logo.png') }}" class="sidebar-logo" alt="Logo">
                </a>
            </form>
        </section>

        <!-- Informaci칩n del usuario -->
        {% if app.user %}
            <section id="user-info">
                <a href="{{ path('app_profile', { 'id': app.user.id }) }}" class="user-profile">
                    {% if app.user.imgUrl %}
                        <img src="{{ app.user.imgUrl }}" alt="Profile Picture" class="profile-image">
                    {% else %}
                        <img src="{{ image_server_url ~ '/default_logo.png' }}" alt="Profile Picture" class="profile-image">
                    {% endif %}
                    <p class="username">{{ app.user.username }}</p>
                </a>
            </section>
        {% endif %}

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>

                {% if app.user %}
                    <li><a href="{{ path('app_inicio') }}">Home</a></li>
                    <li><a href="{{ path('explore') }}">Explore</a></li>
                    <li><a href="{{ path('chats') }}">Chats</a></li>
                    {% if is_granted('ROLE_CHEF') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('class_list') }}">Crear Clases</a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_PREMIUM') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_inicio') }}">Funciones Premium</a>
                        </li>
                    {% endif %}
                    <li><a href="{{ path('app_settings') }}">Settings</a></li>

                    {# Bot칩n de logout solo si el usuario est치 logueado #}
                    <li><a href="{{ path('logout') }}" class="button">Logout</a></li>
                {% else %}
                    {# Si el usuario no est치 logueado, solo mostrar login y register #}
                    <li><a href="{{ path('login') }}">Login</a></li>
                    <li><a href="{{ path('app_register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Copyright. Registered Trademark. All rights are registered and patented.</p>
        </footer>
    </div>
</div>
