<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">

        <!-- Search-->
        <section id="search" class="alt">
            <form method="post" action="#">
                <img src="logo.png" class="sidebar-logo" alt="Logo">
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                {% if app.user %}
                <li><a href="{{ path('app_inicio') }}">Home</a></li>
                <li><a href="{{ path('explore') }}">Explore</a></li>
                <li><a href="{{ path('profile') }}">Profile</a></li>
                <li><a href="{{ path('chats') }}">Chats</a></li>
                <li><a href="#">Notification</a></li>
                <li><a href="#">Report an error</a></li>

                {% if is_granted('ROLE_CHEF') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_page') }}">Crear Clases</a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_PREMIUM') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_page') }}">Funciones Premium</a>
                    </li>
                {% endif %}
                <li><a href="{{ path('app_settings') }}">Settings</a></li>

                {# Botón de logout solo si el usuario está logueado #}
                <li><a href="{{ path('logout') }}" class="button">Logout</a></li>


                {% else %}
                    {# Si el usuario no está logueado, solo mostrar login y register #}
                    <li><a href="{{ path('login') }}">Login</a></li>
                    <li><a href="{{ path('app_register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Copyright. Registered Trademark. All rights are registered and patented.</p>
        </footer>
    </div>
</div>