{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <div class="settings-wrapper">
        <h1 class="text-center mb-4">Settings</h1>

        <!-- Formulario de cambio de contraseña -->
        <div class="card mb-4">
            <div class="card-header bg-gradient-primary text-white">
                <h5>Change Password</h5>
            </div>
            <div class="card-body">
                {{ form_start(changePasswordForm) }}

                {% if error %}
                    <div class="alert alert-danger">
                        <strong>Error:</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <div class="mb-3">
                    {{ form_label(changePasswordForm.current_password, null, {'label_attr': {'class': 'form-label fw-bold'}}) }}
                    {{ form_widget(changePasswordForm.current_password, {'attr': {'class': 'form-control rounded-pill'}}) }}
                    {% if form_errors(changePasswordForm.current_password) %}
                        <div class="text-danger">
                            {{ form_errors(changePasswordForm.current_password) }}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form_label(changePasswordForm.new_password, null, {'label_attr': {'class': 'form-label fw-bold'}}) }}
                    {{ form_widget(changePasswordForm.new_password, {'attr': {'class': 'form-control rounded-pill'}}) }}
                    {% if form_errors(changePasswordForm.new_password) %}
                        <div class="text-danger">
                            {{ form_errors(changePasswordForm.new_password) }}
                        </div>
                    {% endif %}
                </div>

                <div class="d-grid">
                    {{ form_widget(changePasswordForm.change, {'attr': {'class': 'button'}}) }}
                </div>

                {{ form_end(changePasswordForm) }}
            </div>
        </div>



        <!-- Botón para regresar a la página principal -->
        <div class="text-center mt-4">
            <a href="{{ path('app_inicio') }}" class="button">
                Return to Main Page
            </a>
        </div>
    </div>
{% endblock %}
