{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create a New Class</h1>

    {# Formulario de creación de clase #}
    {{ form_start(classForm) }}
    {{ form_row(classForm.title) }}
    {{ form_row(classForm.description) }}
    {{ form_row(classForm.startDate) }}
    {{ form_row(classForm.endDate) }}
    <button class="btn btn-primary">Create</button>
    {{ form_end(classForm) }}

    {# Opcional: Añadir un enlace para regresar a la lista de clases #}
    <a href="{{ path('class_list') }}" class="btn btn-secondary">Back to Class List</a>
{% endblock %}