<div data-post-id="{{ comment.id }}">
    <p><strong>{{ comment.user.name }}</strong> @{{ comment.user.username }} · {{ comment.datetime|date('Y-m-d H:i') }}</p>
    <p>{{ comment.content }}</p>
</div>
<hr class="thick-divider">