<section id="banner" class="post-card">
    <div class="content">
        <header>
            <h2>{{ post.title }}</h2>
            <p>Hashtags</p>
        </header>
        <p>{{ post.content }}</p>
        <ul class="actions">
            <li><a href="{{ path('post_info', { 'id': post.id }) }}" class="button big">Let's cook!</a></li>
        </ul>

        <p>
            Likes:
            {% if app.user %}
                <a href="{{ path('post_like', { 'id': post.id }) }}" class="like-btn" data-post-id="{{ post.id }}">
                    <i class="bi bi-heart{% if post.isLikedByUser(app.user) %}-fill{% endif %}"></i> {{ post.numLikes }}
                </a>
            {% else %}
                <span class="like-btn" data-post-id="{{ post.id }}">
                    <i class="bi bi-heart"></i> {{ post.numLikes }}
                </span>
            {% endif %}
            Views: <i class="bi bi-eye"></i> {{ post.numViews }}
        </p>
    </div>

    {% if post.img %}
        <span class="image object">
            <img src="{{ asset('uploads/images/' ~ post.img) }}" alt="{{ post.title }}">
        </span>
    {% endif %}
</section>