{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <div class="pointer-events-none">
        {{ include('post/_post.html.twig') }}
    </div>

    {% for comment in comments %}
        {{ include('post/_comment.html.twig') }}
    {% endfor %}

    <button type="submit" class="btn btn-primary comment-btn">Comment</button>

    <div id="comment-form" class="visibility-none">
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.content) }}
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
            {{ form_end(commentForm) }}
        </div>
    </div>
{% endblock %}